body{
  background-color: #40c4ff;
}


.thanks{
	text-align: center;
	padding-top: 13%;
	padding-bottom: 13%;
  margin-bottom: 50px;
  height: 100%;
  color: #fafafa;
}

.thanks h1{
	font-weight: 900;
	text-transform: uppercase;
}
