<%mobile = true %>
<% style = 'material'%>
<%- partial('_partial/header')%>
<div id="intro"  class="intro light-blue accent-2 z-depth-1" >
  <h1 class="grey-text text-lighten-5 pin-top title" id="intro" data-target="intro" >Mario Vizcaino</h1>
  <h5 clas="grey lighten-4 grey-text text-darken-1">Full Stack Developer</h5>
  <div class="social">
    <a href="https://github.com/mariovzc" target="_blank"><img src="/images/github.svg" onerror="this.onerror=null; this.src='/images/github.png'"></a>
    <a href="https://codepen.io/mariovzc/pens/public/" target="_blank"><img src="/images/codepen.svg" onerror="this.onerror=null; this.src='/images/codepen.png'"></a>
    <a href="https://twitter.com/mvskhs" target="_blank"><img src="/images/twitter.svg" onerror="this.onerror=null; this.src='/images/twitter.png'"></a>
    <a href="https://www.linkedin.com/in/mariovizcaino/" target="_blank"><img src="/images/linkedin.svg" onerror="this.onerror=null; this.src='/images/linkedin.png'"></a>
  </div>
  
</div>
<%- partial('_partial/about') %>
<%- partial('_partial/projects') %>
<%- partial('_partial/contact') %>

<ul id="slide-out" class="side-nav">
  <li><div class="user-view">
    <div class="background light-blue accent-3 z-depth-1">
    </div>
    <a href="#!user"><img class="circle" src="https://avatars1.githubusercontent.com/u/7216999?v=4&s=460"></a>
    <a href="#!name"><span class="white-text name">Mario Vizcaino</span></a>
    <a href="#!email"><span class="white-text email">mario.vizcainos@gmail.com</span></a>
  </div></li>
  <li class="trans-element"><a class="waves-effect" href="#intro">Home</a></li>
  <li><div class="divider"></div></li>
  <li class="trans-element"><a class="waves-effect" href="#about">About</a></li>
  <li><div class="divider"></div></li>
  <li class="trans-element"><a class="waves-effect" href="#portfolio">Portfolio</a></li>
  <li><div class="divider"></div></li>
  <li class="trans-element"><a class="waves-effect" href="#contact">Contact</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect" href="/blog">Blog</a></li>
</ul>
      