<div id="about"  class="container about block">
  <h2 >about me</h2>
  <h6>let me introduce my self</h6>
  <hr>
  <div class="row">
    <div class="col s12 m4 l4">
      <h6>Story</h6>
      <p>Hi, my name is mario vizcaino, I am a systems engineer and computer security specialist, I am currently living in Barranquilla and I love programming and reading about new technologies</p>
      <p>I love video games, reading books, football and <strong>Game of thrones</strong></p>
    </div>
    <div class="col s12 m4 l4">
      <h6>Profile</h6>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <img src="https://avatars1.githubusercontent.com/u/7216999?v=4&s=460" width="64" height="64">
          <p>Check out my github and my codepen</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/mariovzc">Github</a>
          <a href='https://codepen.io/mariovzc/pens/public/'>Codepen</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <h6>Experience</h6>
      <ul class="collapsible">
        <li class="active">
          <div class="collapsible-header"><i class="mdi-av-web"></i>Web Developer</div>
          <div class="collapsible-body">
            <p class="text-center company">Company: <strong>Saludtec S.A.S</strong></p>
            <p>Duration: August 2015 - May 2017</p> 
            <p>Used: </p>
            <div class="chip">Phonegap</div>
            <div class="chip">JQuery</div>
            <div class="chip">Javascript</div> 
            <div class="chip">HTML</div>
            <div class="chip">CSS</div>
            <div class="chip">Bootstrap</div>
            <div class="chip">Ruby On Rails</div>
            <div class="chip">APIs REST</div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-editor-format-align-justify"></i>iOS Developer</div>
          <div class="collapsible-body">
            <p class="text-center company">Company: <strong>Saludtec S.A.S</strong></p>
            <p>Duration: August 2015 - May 2017</p> 
            <p>Used: </p>
            <div class="chip">Xcode</div>
            <div class="chip">Swift</div>
            <div class="chip">Objective-C</div> 
            <div class="chip">Cocoapods</div>
            <div class="chip">C++</div>
            <div class="chip">Coredata</div>
            <div class="chip">REST</div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-av-play-shopping-bag"></i>Full Stack Developer</div>
          <div class="collapsible-body">
            <p class="text-center company">Company: <strong>GhettoSoft S.A.S.</strong></p>
            <p>Duration: March 2015 - June 2015</p> 
            <p>Used: </p>
            <div class="chip">Ruby on Rails</div>
            <div class="chip">JQuery</div>
            <div class="chip">Bootstrap</div> 
            <div class="chip">Foundation</div>
            <div class="chip">HTML</div>
            <div class="chip">CSS</div>
            <div class="chip">JavaScript</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
