<header>
  <div class="parallax-container">
    <div class="parallax"><img src="http://materializecss.com//images/parallax1.jpg"></div>
    <div class="paralax-items">
      <h1><%= config.title %></h1>
      <p><%= config.subtitle %></p>  
    </div>
  </div>
  <nav>
    <div class="nav-wrapper nav-style">
      <a href="/" class="brand-logo center">Mis Post</a>
    </div>
  </nav>
</header>