<header>
  <nav>
    <div class="nav-wrapper light-blue accent-3 z-depth-1">
      <a href="/blog" class="brand-logo center"><%=title%></a>
      <ul class="left ">
        <li><a href="<%=redirect%>"><i class="material-icons">arrow_back</i></a></li>
      </ul>
    </div>
  </nav>
</header>