<div id="portfolio" class=" portfolio block">
  <div class="cont">
    <h2>portfolio</h2>
      <h6>MY PROJECTS</h6>
      <hr>
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="images/jaguar.png" data-caption="Jaguar XE Example">
            </div>
            <div class="card-action">
              <a href="#">Visit</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="images/ecommerce.png" data-caption="E-Commerce emplate in bootstrap">
            </div>
            <div class="card-action">
              <a href="#">Visit</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed " src="images/studiodev.png" data-caption="Studio Dev page template">
            </div>
            <div class="card-action">
              <a href="#">Visit</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>